{
    "api_url": "<api url>/api",
    "oauth_url": "<api url>/oauth",

    "default_language": "nl",
    "available_languages": ["nl", "en"],

    "client_token": <client token>,
    "client_secret": "<client secret"
}